$color-primary: #FFC107;
$color-secondary: black;

$color-text: #333333;

$color-primary-light: #333333;
$color-primary-dark: rgba(69, 59, 40, 0.8);


$grid-width: 110rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 7rem;


$color-white: #fff;
$color-black: #000;
